:root {
  --font-size-lg: 18px;
  --font-size-md: 14px;
  --font-size-sm: 12px;
  --font-size-tag: 10px;
  --purple-color: #883ae1;
  --light-purple: #e6d6fc;
  --light-gray: #e5eaf0;
  --white-01: #fafaf9;
  --white-02: #ffffff;
  --gray-01: #20293a;
  --gray-02: #6c727f;
}

body {
  font-family: "Sora", sans-serif;
  margin: 164px;
}

.card-container {
  width: 368px;
  border-radius: 8px;
  box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
  background-color: var(--white-02);
}

img {
  width: 336px;
  height: 152px;
  text-align: center;
  padding: 20px 16px 10px 16px;
  border-radius: 10px;
}

.card-content {
  padding: 16px;
}

.tag h3 {
  width: max-content;
  padding: 6px 16px;
  font-size: var(--font-size-tag);
  background: var(--light-purple);
  color: var(--purple-color);
  margin: 0 16px;
  border-radius: 20px;
}

h1 {
  font-size: var(--font-size-lg);
  font-weight: 500;
}

p {
  font-size: var(--font-size-md);
  font-weight: 100;
  line-height: 1.5;
}

.card-container footer {
  text-align: start;
  border-top: 1px solid var(--light-gray);
}

footer h2 {
  font-size: var(--font-size-sm);
  color: var(--gray-02);
  font-weight: 100;
  padding: 16px 20px;
}
